<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlAiyNblegagEfaAW4JiL6rLzXyHFcmMo</string>
	<key>GCM_SENDER_ID</key>
	<string>814326964696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.judgg.lolcustom</string>
	<key>PROJECT_ID</key>
	<string>lolcustom-app</string>
	<key>STORAGE_BUCKET</key>
	<string>lolcustom-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814326964696:ios:ac272014ec3e0bd2aa92ad</string>
</dict>
</plist>